nav{
    background: black;
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "bokor", system-ui;
    font-size: italic;
    text-shadow: 2px 4px 3px rgba(0, O, 0, 3);
    color: white;
}
header{
    background-color: mediumblue;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: Roboto;
}
body{
     font-family: sans-serif;
    font-size: 18px;
    font-weight: Roboto

}
footer{
    background-color: navy;
    color: white;
}
.h2{
    color: burlywood;
}